:root {
    --mainBlue: #2a2a72;
    --lightBlue: #009ffd;
    --mainWhite: #f3f3f3;
    --mainDrk: #232428;
    --mainYellow: #ffa400;
}

body {
    font-family: 'Oswald', sans-serif !important;
    background: var(--mainWhite) !important;
    color: var(--mainDrk) !important;
}

.text-title {
    font-family: 'Permanent Marker', cursive !important;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.text-blue {
    color: var(--mainBlue);
}

.text-bright {
    color: var(--lightBlue);
}